{% extends 'base.html' %}

{% load static %}

{% block cdnscript %}
<!-- Slick Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
  integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
  crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
  crossorigin="anonymous" />
{% endblock %}

{% block style %}
<link href="{% static 'style/carousel.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}


{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center">
  <!-- Create your own class for the containing div -->
  <h1 class="mb-2 top-title">My <span class="bold-font">Family</span></h1>
  <div class="slick-carousel">

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/birthday.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This was taken on about August 24<sup>th</sup>, 2020. <strong>My 18<sup>th</sup>
            Birthday!🎈</strong></p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/dad.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is <strong>me</strong> and my dad last year when we went on vacation to Kuching,
          Malaysia!</p>
      </div>
    </div>


    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/sister.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Those are both of my older sisters ❤️. I look so annoyed because I wasn't in a mood to take
          a photo <strong>LOL</strong>!</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/church.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is me with my sister when <strong>I attended church</strong> back in 2019.</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/sisters.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">It's a four of us lol!🕥</p>
      </div>
    </div>
</section>

<section id="my-friends" class="my-container d-flex flex-column dark-color align-items-center">
  <!-- Create your own class for the containing div -->
  <h1 class="mb-2 mt-5">My <span class="bold-font">Friends</span></h1>
  <div class="slick-carousel">

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/team.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">This is my 2019's ICPC Team, <strong>Quantasaurus Tiguerra</strong>! We went third on a
          regional contest in Malaysia!🤩</p>
      </div>
    </div>


    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/kating.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Back when I was a freshman myself. 😆</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/budi.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">The middle one is one of my closest friend, <Strong>Budi</Strong>!, the right one is
          <strong>Samuel</strong>. They really help me survive in life. 😢</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/ngoding.jpg' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">2019's <Strong>Ngoding Seru</Strong>!! It was really fun! I went far way to Jakarta from
          Sanggau.</p>
      </div>
    </div>
</section>
{% endblock %}

{% block userscript %}
<script src="{% static 'script/slick.js' %}"></script>
{% endblock %}