{% extends 'base.html' %}

{% load static %}

{% block cdnscript %}
<!-- Particles.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"
  integrity="sha512-Kef5sc7gfTacR7TZKelcrRs15ipf7+t+n7Zh6mKNJbmW+/RRdCW9nwfLn4YX0s2nO6Kv5Y2ChqgIakaC6PW09A=="
  crossorigin="anonymous"></script>

<!-- Animate on scroll orz -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.js"
  integrity="sha512-A7AYk1fGKX6S2SsHywmPkrnzTZHrgiVT7GcQkLGDe2ev0aWb8zejytzS8wjo7PGEXKqJOrjQ4oORtnimIRZBtw=="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css"
  integrity="sha512-1cK78a1o+ht2JcaW6g8OXYwqpev9+6GqOkz9xmBN9iUUhIndKtxwILGWYOSibOKjLsEdjyjZvYDq/cZwNeak0w=="
  crossorigin="anonymous" />


<!-- Slick Carousel -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"
  integrity="sha512-XtmMtDEcNz2j7ekrtHvOVR4iwwaD6o/FUJe6+Zq+HgcCsk3kj4uSQQR8weQ2QVj1o0Pk6PwYLohm206ZzNfubg=="
  crossorigin="anonymous"></script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css"
  integrity="sha512-wR4oNhLBHf7smjy0K4oqzdWumd+r5/+6QO/vDda76MW5iug4PT7v86FoEkySIJft3XA0Ae6axhIvHrqwm793Nw=="
  crossorigin="anonymous" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css"
  integrity="sha512-17EgCFERpgZKcm0j0fEq1YCJuyAWdz9KUtv1EjVuaOz8pDnh/0nZxmU6BBXwaaxqoi9PQXnRWqlcDB027hgv9A=="
  crossorigin="anonymous" />
{% endblock %}

{% block style %}
<link href="{% static 'style/parallax.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'style/timeline.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'style/carousel.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block intro %}
<!-- Intro here -->
<section class="intro" id="intro">
  <div id="parallax-container">
    <parallax-object id="particles-js" style="background: url(./static/parallax/aurora.jpg); background-size: cover">
    </parallax-object>
    <parallax-object style="background: url(./static/parallax/layer_1.png)">
    </parallax-object>
    <parallax-object style="background: url(./static/parallax/mountain.webp)">
    </parallax-object>
    <parallax-object style="background: url(./static/parallax/layer_2.png)">
    </parallax-object>
    <parallax-object style="background: url(./static/parallax/layer_3.png)">
    </parallax-object>
    <parallax-object style="background: url(./static/parallax/grass-3.png)">
    </parallax-object>
  </div>
</section>

{% endblock %}

{% block content %}

<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center">
  <div class="card d-flex flex-column align-items-center justify-content-top">
    <h1>Let me introduce <span class="bold-font">Myself</span></h1>
    <h2 class="mb-5">.. or check my <a class="bold-font" href="https://cv.hocky.id">CV</a> out instead</h2>
    <div class="d-flex flex-column align-items-center text-center align-self-center mt-3 mb-3" data-aos="fade-left">
      <h2 data-aos="flip-up">Junior of <span class="bold-font">Computer Science</span></h2>
      <h2 data-aos="flip-up">I love to code and explore!</h2>
    </div>
    <hr class="large-hide" data-aos="fade-up" />
    <div class="d-flex flex-column desc-start mt-3 mb-3" data-aos="fade-right">
      <h2 class="bold-font" data-aos="flip-up">Software Engineer</h2>
      <h2 class="bold-font" data-aos="flip-up">Competitive Programmer</h2>
      <h2 class="bold-font" data-aos="flip-up">Full-Stack Developer</h2>
    </div>
    <hr class="large-hide" data-aos="fade-up" />
    <div class="d-flex flex-column desc-end mt-3 mb-3" data-aos="fade-left">
      <h2 data-aos="flip-up">
        I do your stuffs with <span class="bold-font">passion</span>
      </h2>
      <h2 class="large-hover" data-aos="flip-up">Get to know me!</h2>
    </div>
    </div>
</section>

<section id="study-timeline" class="my-container light-color d-flex flex-column align-items-center">
  <h1 class="mb-5 mt-5"><span class="bold-font">Study</span> Timeline</h1>
  <div class="card">

    <ul class="timeline">
      <li data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>TK Paroki Katedral (2006-2007)</strong> <br>
              My first step forward! 👣
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted" data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>SD Negeri 9 Sanggau (2007-2013)</strong> <br>
              Represented Kalimantan Barat in the 11<sup>th</sup> National Science Olympiad in Mathematics.
            </p>
          </div>
        </div>
      </li>

      <li data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>SMP Negeri 1 Sanggau (2013-2016)</strong> <br>
              Represented Kalimantan Barat in the 13<sup>th</sup> and 14<sup>th</sup> National Science Olympiad in
              Mathematics.
            </p>
          </div>
        </div>
      </li>


      <li class="timeline-inverted" data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>SMA Negeri 1 Sanggau (2016-2019)</strong> <br>
              <i style="color: brown;" class="fas fa-medal"></i> Bronze medalist of the 16<sup>th</sup> National
              Science
              Olympiad in Informatics
              <hr class="dark" />
              <i style="color: goldenrod;" class="fas fa-medal"></i> First Winner of 2019 JOINTS Programming
              Competition
              Session
              <hr class="dark" />
              <i style="color: silver;" class="fas fa-medal"></i> Silver Medallist of 2019 APIO (Asia-Pacific
              Informatics Olympiad)
              <hr class="dark" />
              <i style="color: brown;" class="fas fa-medal"></i> Third Winner of "Ngoding Seru 2019" Programming
              Competition
              <hr class="dark" />
              <i style="color: goldenrod;" class="fas fa-medal"></i> Gold Medallist of NOI (National Olympiad in
              Informatics) of Singapore 2019
            </p>
          </div>
        </div>
      </li>

      <li data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>University of Indonesia (2019-Now)</strong> <br>
              <i style="color: brown;" class="fas fa-medal"></i> Third Winner of the 2019 ICPC Asia Kuala Lumpur
              Regional Contest
              <hr class="dark" />
              <i style="color: goldenrod;" class="fas fa-medal"></i> National Gold Medalist of the 2019 ICPC Asia
              Jakarta Regional Contest
              <hr class="dark" />
              <i style="color: silver;" class="fas fa-medal"></i> Second Winner of The 2019 Indonesia National Contest
              (INC)
              <hr class="dark" />
              <i style="color: silver;" class="fas fa-medal"></i> Second Winner of ARKAVIDIA 6.0 Competitive
              Programming
              Competition
              <hr class="dark" />
              <i style="color: goldenrod;" class="fas fa-medal"></i> First Winner of 2020 Find It! Competitive Programming
              Competition
              <hr class="dark" />
              <i style="color: brown;" class="fas fa-medal"></i> Bronze Medalist of the 2020 ICPC Asia Jakarta Regional Contest
              <hr class="dark" />
              <i style="color: silver;" class="fas fa-medal"></i> Second Winner of ARKAVIDIA 7.0 Competitive Programming Competition
            </p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>

<section id="my-project" class="my-container d-flex flex-column dark-color align-items-center">
  <!-- Create your own class for the containing div -->
  <h1 class="mb-5 mt-5">My <span class="bold-font">Projects</span></h1>
  <div class="slick-carousel">

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <a href="https://gitlab.com/pacilmate/pacilmate">
        <img class="card-img-top" src="{% static 'image/pacilmate.png' %}" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">A fine utility discord bot made for busy students..</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <a href="https://uimate-2.herokuapp.com/">
        <img class="card-img-top" src="{% static 'image/uimate.png' %}" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">Utility Web for University Students!</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <a href="https://gitlab.com/hocky/snake">
        <img class="card-img-top" src="{% static 'image/snake.gif' %}" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">A <strong>snake game</strong> I made using pygame!</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <a href="https://tlx.toki.id/contests">
        <img class="card-img-top" src="{% static 'image/troc.png' %}" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">I <strong>problemset</strong> programming problems!</p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/barcode.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Barcode generator!</p>
      </div>
    </div>

</section>

<section id="employment-history" class="my-container light-color d-flex flex-column align-items-center">
  <h1 class="mb-5 mt-5"><span class="bold-font">Employment</span> History</h1>
  <div class="card">

    <ul class="timeline">
      <li data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>Software Engineer Intern</strong> <br>
              <i style="font-size: small;">Money Forward, Inc. (July 2021 - September 2021)</i> <br>
              <hr class="dark" />
              Developed REST and gRPC Microservices in Golang, involving mySQL, Amazon S3 cloud object storage, and Docker.
              <hr class="dark" />
              Improved DAO layer perfomance of existing design
              <hr class="dark" />
              Wrote unit test, fixed existing issues and unknown bugs.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted" data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>Person in Charge of Competitive Programming Contest</strong> <br>
              <i style="font-size: small;">COMPFEST (Feb 2021 - Now)</i> <br>
              <hr class="dark" />
              Authored ~30 algorithm and programming problems, 8 of which used in preliminaries and finals of the
              contests.
            </p>
          </div>
        </div>
      </li>

      <li data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>Foundations of Programming 1 Teaching Assistant</strong> <br>
              <i style="font-size: small;">University of Indonesia (Aug 2020 - Jan 2021)</i> <br>
              <hr class="dark" />
              Guided 57 freshmen in a class, made and graded assignments through a python course.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted" data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>Scientific Committee of Competitive Programming Contest</strong> <br>
              <i style="font-size: small;">COMPFEST (Feb 2020 - Oct 2020)</i> <br>
              <hr class="dark" />
              Authored ~22 algorithm and programming problems, 14 of which used in preliminaries and finals of the
              contests.
              <hr class="dark" />
              Coordinated more than 3800 teams on codeforces final online mirror of the contest and onsite contest.
              <hr class="dark" />
              Arranged a coder class chapter on string processing, including the KMP, Aho-Corasick, and hashing
              algorithms.
              <hr class="dark" />
              Supervised all core contests and managed to solve all difficulties on time with my team.
              <hr class="dark" />
              Administrated teams in collaboration with the ICPC Committee as one of the biggest Multi-Provincial ICPC
              in Indonesia.
            </p>
          </div>
        </div>
      </li>

      <li data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>Contest Coordinator Assistant of TROC</strong> <br>
              <i style="font-size: small;">IA-TOKI (Dec 2019 - Now)</i> <br>
              <hr class="dark" />
              Provided monthly regular open contests through TLX, an online competitive programming judge platform
            </p>
          </div>
        </div>
      </li>


      <li class="timeline-inverted" data-aos="zoom-in">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>Scientific Committee of the 2020 National Training Camp in Informatics</strong> <br>
              <i style="font-size: small;">IA-TOKI (Sep 2019 - Sep 2020)</i> <br>
              <hr class="dark" />
              Prepared the delegation of Indonesia in International Olympiad in Informatics (IOI) 2020 in Singapore
              through its national training camp, resulting in 1 Gold Medalist, 1 Silver Medalist, and 2 Bronze
              Medalists of Indonesian's team.
            </p>
          </div>
        </div>
      </li>

    </ul>
  </div>
</section>

<section id="skills" class="my-container d-flex flex-column dark-color align-items-center">
  <!-- Create your own class for the containing div -->
  <h1 class="mb-5 mt-5"><span class="bold-font">Skills</span></h1>
  <div class="slick-carousel">

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <a href="https://codeforces.com/profile/hocky">
        <img class="card-img-top" src="{% static 'image/cp.png' %}" alt="Card image cap">
      </a>
      <div class="card-body">
        <p class="card-text">I do <strong>C++ and Java</strong></p>
      </div>
    </div>

    <div class="card large-hover d-flex flex-column align-items-center text-center" style="width: 18rem;">
      <img class="card-img-top" src="{% static 'image/css.png' %}" alt="Card image cap">
      <div class="card-body">
        <p class="card-text">Not to forget, <strong>CSS and HTML</strong>. I'm learning React.js (also the native one)
          and Vue as well!</p>
      </div>
    </div>

</section>

<section id="contact-me" class=" my-container d-flex flex-column light-color align-items-center">

  <h1 class="mb-5 mt-5">Get in <span class="bold-font">Touch</span> with me!</h1>
  <div id="social">
    <p>
      <a href="https://www.facebook.com/HockyYudhiono"><i id="social-fb" class="fab fa-facebook fa-3x social"></i></a>
      <a href="mailto:hocky.yudhiono@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      <a href="https://github.com/hockyy"><i id="social-git" class="fab fa-github fa-3x social"></i></a>
      <a href="https://api.whatsapp.com/send?phone=+6281807240802"><i id="social-wa"
          class="fab fa-whatsapp-square fa-3x social"></i></a>
      <a href="https://www.linkedin.com/in/hocky/"><i id="social-li" class="fab fa-linkedin fa-3x social"></i></a>
      <a href="https://www.instagram.com/__hocky/"><i id="social-ig"
          class="fab fa-instagram-square fa-3x social"></i></a>
    </p>



  </div>
  <div id="fb-message">
    <strong>Facebook</strong> is pretty cool to chat!
  </div>
  <div id="em-message">
    <strong>Email</strong> for legit and serious stuffs I guess(?)
  </div>

  <div id="git-message">
    Check my <strong>Github</strong> here!
  </div>

  <div id="wa-message">
    <strong>Whatsapp</strong> can bring us pretty close..
  </div>
  <div id="li-message">
    <strong>LinkedIn</strong> is like portfolio on steroid.
  </div>
  <div id="ig-message">
    Check my daily life on <strong>Instagram</strong>
  </div>
</section>
{% endblock %}

{% block userscript %}
<script src="{% static 'script/parallax.js' %}"></script>
<script src="{% static 'script/particles.js' %}"></script>
<script src="{% static 'script/aos.js' %}"></script>
<script src="{% static 'script/slick.js' %}"></script>
<script src="{% static 'script/social.js' %}"></script>
<script src="{% static 'script/stickyNavbar.js' %}"></script>
{% endblock %}
