{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center"
    style="justify-content: flex-start;">
    {% if user.is_authenticated %}
    <h1 class="top-title">Welcome, <span class="bold-font">{{user.username}}</span>!</h1>
    {% else %}
    <h1 class="top-title">Maybee... You Should <a href="{% url 'story_9:login' %}" class="bold-font inline-link">Log In</a>!</h1>
    {% endif %}
    {% include 'messages.html' %}
    <div class="card d-flex align-items-center justify-content-between dark-text">
        <h1>🎌 Leaderboard 🎌</h1>
        {% for people in leaderboard %}
        ️‍<h2 style="margin: 0; padding: 0;">💵 ${{people.0}} | {{ people.1 }} <a href="{% url 'story_9:profile' username=people.3 %}"class="inline-link-dark" style="margin: 0; padding: 0;"><strong>{{ people.3 }}</strong></a> {{ people.2 }}</h2>
        {% empty %}
        <h2><strong>No registered user ☹️</strong></h2>
        {% endfor %}
    </div>
</section>

{% endblock %}
