{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
<style>
    .asteriskField{
        display:none;
    }
</style>
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center"
    style="justify-content: flex-start;">
    <h1 class="top-title">Dive <span class="bold-font">In</span></h1>

    {% include 'messages.html' %}

    <div class="card d-flex align-items-center justify-content-between dark-text">
        <form class = "mb-3">
            {% csrf_token %}
            {{form | crispy}}
            <input class="btn btn-light" id="login-button" type="button" value="Log in">
            <a class="btn btn-primary" id="signup-button" href="{% url 'story_9:signup' %}">Sign Up</a>
        </form>
        <p id="message-container"></p>
    </div>
</section>

{% endblock %}

{% block userscript %}
<script>
    $(document).ready(() => {
        $('#loader').hide();
        function login(username, password){
            $.ajax({
                url:"{% url 'story_9:loginapi' %}",
                type: "post",
                headers: {'X-CSRFToken': '{{ csrf_token }}'}, // for csrf token
                data: {'username':username, 'password':password},
                beforeSend: function() {
                    $("#message-container").html(`It will be ready in a second<img style="width: 50px;" src="{% static 'image/loadAmongUs.gif' %}" alt="Load">`)
                },
                success: function (response) {
                    if(response.status === 200){
                        window.location = "{% url 'story_9:profile' username='here' %}".replace('here', username);
                    }else{
                        $("#message-container").html(response.message)
                    }
                }
            })
        }
        $('#login-button').click(()=>{
            const username = $.trim($('#id_username').val());
            const password = $.trim($('#id_password').val());
            login(username, password);
        })
    });
</script>
{% endblock %}