{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center"
    style="justify-content: flex-start;">
    <h1 class="top-title">See You <span class="bold-font">Soon</span>!</h1>
    <p>You will be redirected in <span id="countdown"></span></p>
</section>

{% endblock %}

{% block userscript %}
<script>
setTimeout(function() {
    window.location.href = "{% url 'story_9:index'%}";
}, 5000);
let counter = 5;
$('#countdown').html((counter--).toString());
setInterval(() => {
    if(counter > 0) $('#countdown').html((counter--).toString());
}, 1000);

</script>
{% endblock %}