{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center"
    style="justify-content: flex-start;">
    
    <h1 class="top-title"><span class="bold-font">{{other_user.username}}</span>'s Profile</h1>
    
    
    <div class="card d-flex align-items-center justify-content-between dark-text">
        <img id="img-preview" class="m-3" src="{{other_profile.photo}}" alt="Preview" style="border-radius: 50%; border-style: solid; height: 150px; width: 150px; object-fit: cover; object-position: 50% 0;">
        <h2><strong>🎌 {{other_profile.full_name}} 🎌</strong></h2>
        <h2><strong>💵 <span id="money">{{other_profile.score}}</span> 💵</strong></h2>
        {% if user.username == other_user.username %}
            <input type="button" class="btn btn-success" id="claim-btn" value="Claim">
        {% endif %}
        {% if user.username == other_user.username %}
        <form class="mt-3" action="{% url 'story_9:profile' username=user.username %}" method="post">
            <h2><strong>️‍🌈 Edit Your Profile ️‍🌈</strong></h2>
            {% csrf_token %}
            {{ form | crispy }}
            <input id="preview-btn" class="btn btn-light" type="button" value="Preview">
            <input class="btn btn-light" type="submit" value="Save">
        </form>
        {% endif %}
    </div>
        
    {% include 'messages.html' %}


    
</section>

{% endblock %}

{% block userscript %}
<script>
    $(document).ready(function() {
    const imagePreview = $("#img-preview")
    const imageField = $("#id_photo")
    const previewButton = $("#preview-btn")
    const oldValue = imagePreview.attr('src')
    previewButton.click(function(){ imagePreview.attr('src', imageField.val()); })
    imagePreview.on("error", function () {
        $(this).attr("src", oldValue)
    });
    $('#claim-btn').click(()=>{
        $.get("{% url 'story_9:claim' %}", (response)=>{
            $("#money").html(response.score)
        })
    })
});
</script>
{% endblock %}