{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
<style>
    .asteriskField{
        display:none;
    }
    .form-text{
        display: none;
    }
</style>
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center"
    style="justify-content: flex-start;">
    <h1 class="top-title">Sign Yourself <span class="bold-font">Up</span></h1>

    {% include 'messages.html' %}

    <div class="card d-flex align-items-center justify-content-between dark-text">
        <form class = "mb-3" id="signup-form">
            {% csrf_token %}
            {{form | crispy}}
            <input class="btn btn-light" id="signup-button" type="button" value="Sign up">
        </form>
        <p id="message-container"></p>
    </div>
</section>

{% endblock %}

{% block userscript %}
<script>
    $(document).ready(() => {
        function signup(form){
            $.ajax({
                url:"{% url 'story_9:signupapi' %}",
                type: "post",
                headers: {'X-CSRFToken': '{{ csrf_token }}'}, // for csrf token
                data: form,
                beforeSend: function() {
                    $("input").removeClass("is-valid")
                    $("input").removeClass("is-invalid")
                    $("input").parent().children(".invalid-feedback").remove()
                    $("#message-container").html(`Sending your data to the government<img style="width: 50px;" src="{% static 'image/loadAmongUs.gif' %}" alt="Load">`)
                },
                success: function (response) {
                    if(response.status === 200){
                        window.location = "{% url 'story_9:profile' username='here' %}".replace('here', response.username);
                    }else{
                        const field = ["username", "password1", "password2"]
                        response.htmlform = $.parseHTML(response.htmlform);
                        $.each(field, function(fieldidx, fieldval){
                            const current = $(`[name='${fieldval}']`).parent();
                            const formupd = $(response.htmlform).find(`[name='${fieldval}']`).parent();
                            const errorlist = $(formupd).find(".errorlist > li")
                            if(errorlist.length === 0){
                                $(current).children("input").addClass("is-valid")
                            }else{
                                $(current).children("input").addClass("is-invalid")
                                $.each(errorlist,function(erroridx, errorval){
                                    // console.log()
                                    $(current).children("input").after(`<p class="invalid-feedback"><strong>${$(this).text()}</strong></p>`);
                                })
                            }
                        })
                        $("#message-container").html(response.message)
                    }
                }
            })
        }
        $('#signup-button').click(()=>{
            signup($('#signup-form').serialize());
        })
    });
</script>
{% endblock %}