{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"
    integrity="sha512-F636MAkMAhtTplahL9F6KmTfxTmYcAcjcCkyu0f0voT3N/6vzAuJ4Num55a0gEJ+hRLHhdz3vDvZpf6kqgEa5w=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
    integrity="sha512-hievggED+/IcfxhYRSr4Auo1jbiOczpqpLZwfTVL/6hFACdbI3WQ8S9NCX50gsM9QVE+zLk/8wb9TlgriFbX+Q=="
    crossorigin="anonymous" />
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/accordion.css' %}" type="text/css" />
<link rel="stylesheet" href="{% static 'style/formstyle.css' %}" type="text/css">
{% endblock %}


{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center"
    style="justify-content: flex-start;">
    <h1 class="top-title">Know Me <span class="bold-font">More</span></h1>

    {% include 'messages.html' %}

    <div class="d-flex flex-row">

        <div class="btn btn-danger mr-2" id="collapsebtn">Collapse All</div>
        <div class="btn btn-success mr-2" id="showbtn">Show All</div>
        <input type="checkbox" data-toggle="toggle" data-on="Satu-Satu" data-off="Bebas" data-onstyle="primary"
            data-offstyle="warning" id="id_one">
    </div>

    <div id="accordion" class="card">
        <div class="accordion_block">
            <div class="accordion_header d-flex justify-content-between p-4">
                🎈 Daily Activities
                <div>
                    <span class="accordion_button accordion_up"><i class="fas fa-arrow-alt-circle-up"></i></span><span
                        class="accordion_button accordion_down"><i class="fas fa-arrow-alt-circle-down"></i></span>
                </div>
            </div>
            <div class="accordion_content">
                <p>
                    🍫 Minum coklat panas <br>
                    🧩 Menyelesaikan puzzle <br>
                    🖊️ Bermain tic tac toe <br>
                    ♟️ Bermain permainan papan <br>
                    🍫 Minum coklat panas <br>
                    🖊️ Bermain tic tac toe
                </p>
            </div>
        </div>
        <div class="accordion_block">
            <div class="accordion_header d-flex justify-content-between p-4">
                🎈 Organizations
                <div>
                    <span class="accordion_button accordion_up"><i class="fas fa-arrow-alt-circle-up"></i></span><span
                        class="accordion_button accordion_down"><i class="fas fa-arrow-alt-circle-down"></i></span>
                </div>
            </div>
            <div class="accordion_content">
                💯 IA - TOKI <strong>(2019 - Now)</strong> <br>
                🟡 Paguyuban Kalimantan Barat Formakara - Universitas Indonesia <strong>(2019 - Now)</strong> <br>
            </div>
        </div>
        <div class="accordion_block">
            <div class="accordion_header d-flex justify-content-between p-4">
                🎈 Achievements
                <div>
                    <span class="accordion_button accordion_up"><i class="fas fa-arrow-alt-circle-up"></i></span><span
                        class="accordion_button accordion_down"><i class="fas fa-arrow-alt-circle-down"></i></span>
                </div>
            </div>
            <div class="accordion_content">
                <p>

                    <i style="color: brown;" class="fas fa-medal"></i> Third Winner of the 2019 ICPC Asia Kuala Lumpur
                    Regional Contest <br>
                    <i style="color: goldenrod;" class="fas fa-medal"></i> National Gold Medalist of the 2019 ICPC Asia
                    Jakarta Regional Contest <br>
                    <i style="color: silver;" class="fas fa-medal"></i> Second Winner of The 2019 Indonesia National
                    Contest (INC) <br>
                    <i style="color: silver;" class="fas fa-medal"></i> Second Winner of ARKAVIDIA 6.0 Competitive
                    Programming Competition <br>
                    <i style="color: goldenrod;" class="fas fa-medal"></i> First Winner of Find It! Competitive
                    Programming Competition <br>
                </p>
            </div>
        </div>
        <div class="accordion_block">
            <div class="accordion_header d-flex justify-content-between p-4">
                🎈 Hobbies
                <div>
                    <span class="accordion_button accordion_up"><i class="fas fa-arrow-alt-circle-up"></i></span><span
                        class="accordion_button accordion_down"><i class="fas fa-arrow-alt-circle-down"></i></span>
                </div>
            </div>
            <div class="accordion_content">
                <p>
                    💻 I Code
                </p>
            </div>
        </div>
        <div class="accordion_block">
            <div class="accordion_header d-flex justify-content-between p-4">
                🎈 Cool Stuff
                <div>
                    <span class="accordion_button accordion_up"><i class="fas fa-arrow-alt-circle-up"></i></span><span
                        class="accordion_button accordion_down"><i class="fas fa-arrow-alt-circle-down"></i></span>
                </div>
            </div>
            <div class="accordion_content"><iframe width="100%" height="100%" id="existing-iframe-example"
                    src="https://www.youtube.com/embed/YddwkMJG1Jo?enablejsapi=1" frameborder="0"
                    style="border: solid 4px #37474F"></iframe>
            </div>
        </div>
        <div class="accordion_block">
            <div class="accordion_header d-flex justify-content-between p-4">
                🎈 Age of War
                <div>
                    <span class="accordion_button accordion_up"><i class="fas fa-arrow-alt-circle-up"></i></span><span
                        class="accordion_button accordion_down"><i class="fas fa-arrow-alt-circle-down"></i></span>
                </div>
            </div>
            <div class="accordion_content">
                <iframe width="100%" height="400px" src="https://www.addictinggames.com/embed/html5-games/20398"
                    scrolling="no"></iframe>
            </div>
        </div>
    </div>
</section>

{% endblock %}

{% block userscript %}
<script src="{% static 'script/accordion.js' %}"></script>
{% endblock %}