<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'image/favicon.ico' type='image/x-icon' %}">
  <meta charset="utf-8" />
  <meta name="description" content="Hocky Yudhiono's personal website!">
  <meta name="keywords" content="Personal Web, About Me">
  <meta name="author" content="Hocky Yudhiono">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Hey! It's Hocky!</title>

  <link
    href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&family=Roboto:wght@100;300;400;500;900&display=swap"
    rel="stylesheet" />

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />

  <link href="{% static 'style/style-profile.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style/timeline-profile.css' %}" rel="stylesheet" type="text/css" />
</head>

<body>
  <section id="particles-js" class="intro-overlay">
    <div class="intro-container d-flex flex-column justify-content-center align-items-center">
      <a class="large-hover link-unstyled m-4-tl" id="arrow" href="{% url 'story_3:home' %}"><i
        class=" fas fa-home"></i> Home</a>
      <img src="{% static 'image/photo-profile.webp' %}" class="rounded-circle m-3 profile-photo large-hover"
        alt="avatar" />
      <h1 style="font-weight: 800">It's-a-Me!💙</h1>
      <h1 style="font-weight: 400"><span class="ityped"></span></h1>
      <a class="large-hover link-unstyled m-4-tl" id="arrow" href="#biodata">About me <i
          class="fa fa-arrow-down"></i></a>

    </div>
  </section>
  <section class="my-container d-flex flex-column align-items-center" id="biodata">
    <div class="card description">
      <p>
        Hi there! I am a sophomore majoring in Computer Science at
        <strong>University of Indonesia</strong>. I love to learn new things,
        and I'm keen on doing it. Read my blog
        <a href="https://blog.hocky.codes/">Here</a>!
      </p>
    </div>
    <div class="card bio">
      <div class="row">
        <div class="col-4 bold-font"><span class="bio-emoji">🌵</span> Name</div>
        <div class="col-1 t-blue">:</div>
        <div class="col">Hocky Yudhiono</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 bold-font"><span class="bio-emoji">🌺</span> Nick&shy;name</div>
        <div class="col-1 t-blue">:</div>
        <div class="col">Hocky</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 bold-font"><span class="bio-emoji">📖</span> Study</div>
        <div class="col-1 t-blue">:</div>
        <div class="col">Com&shy;puter Science '19 at Univer&shy;sity of Indonesia</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 bold-font"><span class="bio-emoji">🔢</span> Stu&shy;dent ID</div>
        <div class="col-1 t-blue">:</div>
        <div class="col">19062&shy;85604</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 bold-font"><span class="bio-emoji">👶</span> Place, Date of Birth</div>
        <div class="col-1 t-blue">:</div>
        <div class="col">Sanggau, August 24<sup>th</sup> 2002</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 bold-font"><span class="bio-emoji">♂️</span> Gen&shy;der</div>
        <div class="col-1 t-blue">:</div>
        <div class="col">Male (This is obv. but OK)</div>
      </div>
      <hr />
      <div class="row">
        <div class="col-4 bold-font"><span class="bio-emoji">💻</span> Inte&shy;rest</div>
        <div class="col-1 t-blue">:</div>
        <div class="col">Compe&shy;titive Program&shy;ming</div>
      </div>
    </div>

    <ul class="timeline">
      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>TK Paroki Katedral (2006-2007)</strong> <br>
              Tidak lulus TK ☹️, cuma sempet TK A, habis itu langsung SD.
            </p>
          </div>
        </div>
      </li>

      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>SD Negeri 9 Sanggau (2007-2013)</strong> <br>
              Represented Kalimantan Barat in the 11<sup>th</sup> National Science Olympiad in Mathematics.
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>SMP Negeri 1 Sanggau (2013-2016)</strong> <br>
              Represented Kalimantan Barat in the 13<sup>th</sup> and 14<sup>th</sup> National Science Olympiad in
              Mathematics.
            </p>
          </div>
        </div>
      </li>


      <li class="timeline-inverted">
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>SMA Negeri 1 Sanggau (2016-2019)</strong> <br>
              <i style="color: brown;" class="fas fa-medal"></i> Bronze medalist of the 16<sup>th</sup> National Science
              Olympiad in Informatics
              <hr>
              <i style="color: goldenrod;" class="fas fa-medal"></i> First Winner of 2019 JOINTS Programming Competition
              Session
              <hr>
              <i style="color: silver;" class="fas fa-medal"></i> Silver Medallist of 2019 APIO (Asia-Pacific
              Informatics Olympiad)
              <hr>
              <i style="color: brown;" class="fas fa-medal"></i> Third Winner of "Ngoding Seru 2019" Programming
              Competition
              <hr>
              <i style="color: goldenrod;" class="fas fa-medal"></i> Gold Medallist of NOI (National Olympiad in
              Informatics) of Singapore 2019
            </p>
          </div>
        </div>
      </li>

      <li>
        <div class="timeline-panel">
          <div class="timeline-body">
            <p>
              <strong>University of Indonesia (2019-Now)</strong> <br>
              <i style="color: silver;" class="fas fa-medal"></i> Second Winner of The 2019 Indonesia National Contest
              (INC)
              <hr>
              <i style="color: goldenrod;" class="fas fa-medal"></i> National Gold Medalist of the 2019 ICPC Asia
              Jakarta Regional Contest
              <hr>
              <i style="color: brown;" class="fas fa-medal"></i> Third Winner of the 2019 ICPC Asia Kuala Lumpur
              Regional Contest
              <hr>
              <i style="color: silver;" class="fas fa-medal"></i> Second Winner of ARKAVIDIA 6.0 Competitive Programming
              Competition
              <hr>
              <i style="color: goldenrod;" class="fas fa-medal"></i> First Winner of Find It! Competitive Programming
              Competition
            </p>
          </div>
        </div>
      </li>

    </ul>

    <div class="card-tl" id="social">
      <p>
        <strong>Get in touch with me:</strong> <br>
        <a href="https://www.facebook.com/HockyYudhiono"><i id="social-fb" class="fab fa-facebook fa-3x social"></i></a>
        <a href="mailto:hocky.yudhiono@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
        <a href="https://github.com/hockyy"><i id="social-git" class="fab fa-github fa-3x social"></i></a>
        <a href="https://api.whatsapp.com/send?phone=+6281807240802"><i id="social-wa"
            class="fab fa-whatsapp-square fa-3x social"></i></a>
        <a href="https://www.linkedin.com/in/hocky/"><i id="social-li" class="fab fa-linkedin fa-3x social"></i></a>
        <a href="https://gitlab.com/hocky"><i id="social-gl" class="fab fa-gitlab fa-3x social"></i></a>
        <a href="https://www.instagram.com/__hocky/"><i id="social-ig"
            class="fab fa-instagram-square fa-3x social"></i></a>
      </p>
    </div>

  </section>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ityped/1.0.3/index.min.js"></script>
<script src="{% static 'script/scroll.js' %}"></script>
<script src="{% static 'script/ityped-profile.js' %}"></script>
<script src="{% static 'script/particles-profile.js' %}"></script>

</html>