{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center"
    style="justify-content: flex-start;">
    <h1 class="top-title">Find the Best <span class="bold-font">Book</span></h1>

    {% include 'messages.html' %}

    
    <div class="card d-flex align-items-center dark-text">
        <p>You have ❤️ and 💔 <strong id="love-count">0</strong> books</p>
        <!-- <h2>Loved <span class="bold-font">Books</span></h2> -->
        <div id="loved-book-container"></div>
    </div>

    <form>
        <div class="input-group">
            <input type="text" name="search-box" id="search-bar" class="form-control">
            <button class="btn btn-primary" id="search-button" type="button">Search</button>
        </div>
    </form>

    <div class="my-container p-3 mr-4 mb-5 card-columns" id="books-container"></div>

</section>

{% endblock %}

{% block userscript %}
<script>
    $(document).ready(function () {
        const initialValue = ["Frozen", "Calculus", "Linear Algebra"];
        function storeLovedBooks(arrayData){
            localStorage.lovedBooks = JSON.stringify({items:arrayData});
        }
        function getLovedBooks(){
            return JSON.parse(localStorage.lovedBooks).items;
        }
        function updateLoveCount(){
            if(!localStorage.loveCount) localStorage.loveCount = 0;
            $('#love-count').html(localStorage.loveCount);
        }
        function updateLovedBooks(){
            if(!localStorage.lovedBooks) storeLovedBooks([]);
            const lovedBooks = getLovedBooks();
            let first = true;
            $('#loved-book-container').empty()
            for (book of lovedBooks){
                const GetLink = `https://www.googleapis.com/books/v1/volumes/${book}`;
                $.get({
                    url:GetLink,
                    success:function (data, status) {
                        // console.log(data)
                        const importantData = {
                            title: data.volumeInfo.title,
                            authors: data.volumeInfo.authors,
                        }
                        // console.log(importantData)
                        if (!importantData.authors) importantData.authors = 'Unknown';
                        else {
                            importantData.authors = importantData.authors.length == 1 ? importantData.authors[0] : (importantData.authors[0] + ' and friends');
                        }
                        if(!first) $('#loved-book-container').append(`<hr class="m-1" style="border-color: #2D112B;">`);
                        first = false;
                        $('#loved-book-container').append(
                            `📚 <strong>${importantData.title}</strong> <br>
                            🧑‍🤝‍🧑 by ${importantData.authors} <br>`)
                    }
                })
            }
        }
        updateLovedBooks();
        updateLoveCount();
        
        const lovedString = `<i class="fas fa-heart" aria-hidden="true"></i> Unlove`;
        const unlovedString = `<i class="far fa-heart" aria-hidden="true"></i> Love`;
        function search() {
            let searchValue = $('#search-bar').val();
            if (!searchValue) return;
            $('#books-container').empty();
            // console.log(searchValue);
            const APILink = "{% url 'story_8:search' query='bookTitle' %}".replace('bookTitle', searchValue)
            $.ajax({
                url: APILink,
                success: function (data, status) {
                    for (item of data.items) {
                        // console.log(item)
                        const importantData = {
                            id: item.id,
                            title: item.volumeInfo.title,
                            publisher: item.volumeInfo.publisher,
                            rating: item.volumeInfo.averageRating,
                            image: item.volumeInfo.imageLinks,
                            authors: item.volumeInfo.authors,
                            loved: false,
                        }
                        if(localStorage.lovedBooks.includes(importantData.id)) importantData.loved = true;
                        if(importantData.image) importantData.image = importantData.image.thumbnail;
                        else importantData.image = "https://media.tenor.com/images/e6be36bd6dc0c8428f8bf8bdcab8cef6/tenor.gif"
                        // Process Authors
                        if (!importantData.authors) importantData.authors = 'Unknown';
                        else {
                            importantData.authors = importantData.authors.join(', ')
                        }
                        // Process Rating
                        if (!importantData.rating) importantData.rating = 'Unavailable';
                        else {
                            // Round the current rating and display it as stars
                            importantData.rating = Math.floor(importantData.rating + 0.5);
                            let tmp = "";
                            for (let i = 0; i < importantData.rating; i++) {
                                // console.log("here")
                                tmp += "⭐";
                                // console.log(tmp)
                            }
                            importantData.rating = tmp;
                            // console.log(importantData.rating)
                        }
                        // console.log(importantData.loved)
                        const HTMLtext =
                        `<div class="card d-flex align-items-center inlinedis dark-text">
                            <img id="img-preview" src="${importantData.image}" alt="Preview" class="card-img-top"
                                style="width: 70%; max-height: 600px; object-fit: cover; object-position: 50% 0;">
                            <h3 class="m-0 text-center">
                                <strong style="color:var(--main-black)">${importantData.title}</strong> <br>
                                🎈 Rating <strong>${importantData.rating}</strong> <br>
                                <hr style="border-color: black;">
                                🧑‍🤝‍🧑 Authors <strong>${importantData.authors}</strong> <br>
                                📚 Publisher <strong>${importantData.publisher}</strong> <br>
                            </h3>
                            <button class="btn btn-danger mt-3 love-book" id="${importantData.id}" type="button">${importantData.loved ? lovedString : unlovedString}</button>
                        </div>`
                        // console.log(HTMLtext)
                        $('#books-container').append(HTMLtext);
                        // console.log(importantData);
                    }

                    // Assign all love button
                    $('.love-book').click(function(){
                        // console.log("OK");
                        // console.log($(this).attr('id'));
                        if($(this).html().includes('Love')) $(this).html(lovedString); 
                        else $(this).html(unlovedString);
                        
                        if (localStorage.loveCount) {
                          localStorage.loveCount = Number(localStorage.loveCount) + 1;
                        } else {
                          localStorage.loveCount = 1;
                        }
                        const currentBookID = $(this).attr('id');
                        const lovedBooks = getLovedBooks();
                        let index = lovedBooks.indexOf(currentBookID);

                        if(index !== -1){
                            while(index !== -1){
                                lovedBooks.splice(index, 1);
                                index = lovedBooks.indexOf(currentBookID);
                            }
                        }

                        else lovedBooks.push(currentBookID);
                        updateLoveCount();
                        storeLovedBooks(lovedBooks);
                        updateLovedBooks();
                    })
                    // console.log(data);
                }
            })
        }
        
        $('#search-bar').val(initialValue[Math.floor(Math.random()*initialValue.length)])
        search();

        $(document).keypress(function (event) {
            var keycode = event.keyCode || event.which;
            if (keycode == '13') {
                event.preventDefault();
                search();
            }
        });
        $('#search-button').click(search)
    });
</script>
{% endblock %}