{% extends 'base.html' %}

{% load static %}

{% block style %}
  <link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'style/formstyle.css' %}" type="text/css">
  <style>
    .bold-font{
      font-weight: bold;
    }
  </style>
{% endblock %}


{% block cdnscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"
    integrity="sha512-F636MAkMAhtTplahL9F6KmTfxTmYcAcjcCkyu0f0voT3N/6vzAuJ4Num55a0gEJ+hRLHhdz3vDvZpf6kqgEa5w=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
    integrity="sha512-hievggED+/IcfxhYRSr4Auo1jbiOczpqpLZwfTVL/6hFACdbI3WQ8S9NCX50gsM9QVE+zLk/8wb9TlgriFbX+Q=="
    crossorigin="anonymous" />
{% endblock %}

{% block content %}

<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center">
  <h1 class="top-title">Copy<span class="bold-font">Pasta</span></h1>
  
  <div class="form-group small-card card d-flex align-items-center dark-text">
    <textarea class="form-control m-2" id="konten">AVR</textarea>
    <textarea class="form-control m-2" id="konten-objek">register</textarea>
    <textarea class="form-control m-2" id="konten-objek-2">Program Counter</textarea>
    <textarea class="form-control m-2" id="konten-desc">bahasa pemrograman low-level</textarea>
    <textarea class="form-control m-2" id="predikat">BELAJAR SI</textarea>
    <div class="d-flex flex-row">
      <input type="button" value="( ͡° ͜ʖ ͡°)" class="btn btn-success mr-2" id="generator">
      <input type="checkbox" data-toggle="toggle" data-on="Bold" data-off="Unbold" data-onstyle="primary" data-offstyle="danger" id="id_highlight">
    </div>
  </div>

  

  <div class="card small-card d-flex align-items-center dark-text">
    <p style="width:100%">
      <span class="konten">AVR</span>.........<span class="konten">AVR</span> <span class="konten">AVR</span> <span class="konten-long">AAAAAAAVVVVVVVRRRRRRRRRR</span> AAAAAAAAAAAAAAA AAGHAAAAAAAAAAAAAAAAAAAAAAGH ❤️❤️❤️WANGI WANGI WANGI WANGI HU HA HU HA HU HA, aaaah baunya <span class="konten">AVR</span> wangi aku mau nyiumin aroma wanginya <span class="konten">AVR</span> AAAAAAAAH <span class="konten-objek">register</span>nya aaah <span class="konten-objek">register</span>nya juga pengen aku elus- elus ~~~ AAAAAH <span class="konten">AVR</span> keluar pertama kali juga manis❤️❤️❤️ dia punya <span class="konten-objek-2">Program Counter</span> itu juga manis banget AAAAAAAAH <span class="konten">AVR</span> LUCCUUUUUUUUUUUUU.......... GUA BAKAL BAKAR DUIT BUAT <span class="predikat">BELAJAR SI</span> <span class="konten">AVR</span> AAAAAAAAAAAAAAAAAAAAAAAAAAAAAGH apa ? <span class="konten">AVR</span> itu gak nyata ? Cuma <span class="konten-desc">bahasa pemrograman low-level</span>  katamu ? nggak, ngak ngak ngak ngak NGAAAAAAAAK GUA GAK PERCAYA ITU DIA NYATA NGAAAAAAAAAAAAAAAAAKAN ANDA BANGSAAAAAT !! GUA GAK PEDULI SAMA KENYATAAN POKOKNYA GAK PEDULI. <span class="konten">AVR</span> ngeliat gw ... <span class="konten">AVR</span> di laptop ngeliatin gw <span class="konten">AVR</span>... kamu percaya sama aku ? aaaaaaaaaaah syukur <span class="konten">AVR</span> gak malu merelakan aku aaaaaah❤️❤️❤️ YEAAAAAAAAAAAH GUA MASIH PUNYA <span class="konten">AVR</span>, SENDIRI PUN NGGAK SAMA AAAAAAAAAAAAAA
    </p>
  </div>
</section>

{% endblock %}

{% block userscript %}
<script src="{% static 'script/copypasta.js' %}"></script>
{% endblock %}