{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'style/empty-label-form.css' %}" type="text/css">
{% endblock %}


{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center">
    <h1 class="top-title">Daily <span class="bold-font">Activities</span></h1>

    {% include 'messages.html' %}

    <a class="link-card card d-flex align-items-center justify-content-center" href="{% url 'story_6:add_activity' %}">
        <h2 class="dark-text">
            Add activity <i class="fas fa-plus"></i>
        </h2>
    </a>

    <div class="my-container p-3 mr-4 mb-5{% if activities %} card-columns{% endif %}">

        {% for activity in activities reversed %}
        <li class="card inlinedis d-flex align-items-center dark-text">
            <div class="d-flex flex-row justify-content-center align-items-center">
                <h2 class="m-0"> <b>{{ activity.name }}</b> </h2>
                <form class="m-2" action="{% url 'story_6:delete_activity' id=activity.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger"><i class="fa fa-trash"></i></button>
                </form>
            </div>

            <p>{{ activity.category }}</p>

            {% if activity.person_set.all %}
            <h3><b>Daftar Peserta:</b></h3>
            {% endif %}
            {% for person in activity.person_set.all %}
            <div class="m-2">
                <h3 style="display: inline;"> {{ person.name }} </h3>
                <form style="display: inline;" action="{% url 'story_6:delete_person' id=person.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">❌</button>
                </form>
            </div>
            {% empty %}
            <h3>Tidak ada peserta! ❌</h3>
            {% endfor %}

            <form action="{% url 'story_6:activity'%}" method="post">
                {% csrf_token %}
                <input type="hidden" name="activity" value="{{ activity.id }}">
                <div class="d-flex flex-row align-items-center justify-content-center m-1">
                    {{form.name|as_crispy_field}}
                    <button class="btn btn-success ml-3" type="submit"><i class="fas fa-plus"></i></button>
                </div>
            </form>


        </li>
        {% empty %}
        <h1 class="m">
            No available activities! <i class="far fa-sad-tear"></i>
        </h1>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block userscript %}
{% endblock %}