{% extends 'base.html' %}

{% load static %}

{% block style %}
<link href="{% static 'style/glitch.css' %}" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}

<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center">

  <div class="content">
    <h2 class="text" data-text="{{ glitchtext }}">
      {{ glitchtext }}
    </h2>
  </div>

</section>

{% endblock %}