.sticky {
  position: fixed;
  width: 100%;
  top: 0;
}

.nav-link {
  color: azure;
  transition: all 0.3s;
}

.nav-link:hover {
  color: #e78be1;
  transition: all 0.3s;
}

.nav-theme {
  color: azure;
}

/* If the screen size is 800px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  .extra-padding {
    padding-top: 110px;
  }
}

/* If the screen size is 801px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  .extra-padding {
    padding-top: 80px;
  }
}
