.link-unstyled{
  color: #2D112B;
  transition: all 0.3s;
}

.link-unstyled:hover{
  color: #85007c;
  text-decoration: none;
  transition: all 0.3s;
}

.inlinedis{
  display: inline-block !important;
}

.card{
  background-color: rgb(223, 173, 215);
  margin: 1em;
  padding: 1em;
  margin-bottom: 50px;
  
  border-radius: 1em; /* 5px rounded corners */
  
  box-shadow: 5px 5px #85007c;
  -webkit-box-shadow: 5px 5px #85007c;

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.6s;
}

.card:hover{
  -webkit-transform: scale(1.01);
  -ms-transform: scale(1.01);
  transform: scale(1.01);
  transition: 1s;
}

.link-card{
  background-color: #affdc3;
  box-shadow: 5px 5px rgb(4, 163, 38);
  -webkit-box-shadow: 5px 5px rgb(4, 163, 38);
  transition: all 0.3s;
}

.link-card:hover{
  background-color: #97fab0;
  text-decoration: none;
  transition: all 0.3s;
}

p{
  font-size: 18px;
}

.card-columns{
  column-gap: 20px;
}

/* If the screen size is 801px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {

}

/* If the screen size is 800px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  
}