body {
  /* margin: 0; */
  font-family: 'Open Sans', sans-serif;
}

.intro-overlay{
  
  background-image: url('../image/background-profile.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
  
  position: relative;

  height: 100vh;
  width: auto;
  
}

.intro-container{
  
  margin: 0;

  position: absolute;
  background-color: rgba(255, 255, 255, 0.60);

  width: 100%;
  height: 1em;
  min-height: 100vh;

  text-align: center;

  
  color: rgb(4, 0, 50);
}

.my-container{
  
  margin: 0;
  
  position: relative;
  background-color: rgb(202, 235, 255);

  hyphens: auto;

  padding: 0.2em;
  
  width: 100%;
  height: auto;
  min-height: 100vh;
  
  text-align: center;
  
  color: rgb(4, 0, 50);
}

.large-hover{
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: transform 0.8s;
}

.large-hover:hover{
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition: transform 1s;
}

.profile-photo{
  border-radius: 2em;
  border: 0.1em solid rgb(10, 0, 150);
  height: auto;
}


.bold-font{
  font-weight: 800;
}

h1 {
  margin: 0;
  /* font-size: 5vw; */
}

.link-unstyled{
  color: rgb(10, 0, 150);
}

.link-unstyled:hover{
  text-decoration: dotted;
}

.card{
  background-color: rgb(255, 255, 255);
  width: 70vw;
  margin: 1em;
  padding: 1em;
  border-radius: 1em; /* 5px rounded corners */
  
  -webkit-box-shadow: 5px 5px #8c98ff;

  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  transition: 0.6s;
}

.card:hover{
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-box-shadow: 10px 10px #0014c9;
  transition: 1s;
}

.card-tl{
  background-color: rgb(255, 255, 255);
  width: 70vw;
  margin: 1em;
  padding: 1em;
  border-radius: 1em; /* 5px rounded corners */
}



.t-blue{
  color: #0014c9;
  font-weight: 900;
}


/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 801px) {
  h1 {
    font-size: 6vw;
  }
  .profile-photo{
    width: 16vw;
  }
  .link-unstyled{
    font-size: 2.5vw;
  }
  .my-container{
    font-size: 1.5vw;
  }
  .card{
    width: 70vw;
  }
  .bio-emoji{
    display: inline-block;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 800px) {
  h1 {
    font-size: 2.5em;
  }
  .profile-photo{
    width: 12em;
  }
  .link-unstyled{
    font-size: 1.5em;
  }
  .my-container{
    font-size: normal;
  }
  .card{
    width: 95vw;
  }
  .bio-emoji{
    display: none;
  }
}

.ityped-cursor {
  opacity: 1;
  -webkit-animation: blink 0.3s infinite;
  -moz-animation: blink 0.3s infinite;
  animation: blink 0.3s infinite;
  animation-direction: alternate;
}

@keyframes blink {
  100% {
      opacity: 0;
  }
}

@-webkit-keyframes blink {
  100% {
      opacity: 0;
  }
}

@-moz-keyframes blink {
  100% {
      opacity: 0;
  }
}

.social:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
}
.social {
  -webkit-transform: scale(0.8);
  /* Browser Variations: */
  
  -moz-transform: scale(0.8);
  -o-transform: scale(0.8);
  -webkit-transition-duration: 0.5s;
  -moz-transition-duration: 0.5s;
  -o-transition-duration: 0.5s;
}

/*
 Multicoloured Hover Variations
*/

#social-fb:hover {
  color: #3B5998;
}

#social-em:hover {
  color: #c08403;
}

#social-git:hover {
  color: #24292e;
}

#social-li:hover {
  color: #0e76a8;
}

#social-gl:hover {
  color: #fc6d26;
}

#social-wa:hover {
  color: #25d366;
}

#social-ig:hover {
  color:#bc2a8d;
}