<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
  <link rel="shortcut icon" href="{% static 'image/favicon.ico' type='image/x-icon' %}">
  <meta charset="utf-8" />
  <meta name="keywords" content="Personal Web, About Me" />
  <meta name="author" content="Hocky Yudhiono" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <meta name="description" content="{{ description }}" />
  <title>{{ title }}</title>

  <!-- jQuery -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
    integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
    crossorigin="anonymous"></script>

  <!-- Bootstrap op framework orz -->
  <link rel="stylesheet" href="{% static 'style/bootstrap.min.css' %}"/>

  <script src="{% static 'script/bootstrap.min.js' %}"></script>

  <!-- Font Awesome why so good orz -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
    integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
    crossorigin="anonymous" />

  <!-- Montserrat font -->
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap"
    rel="stylesheet" />

  {% block cdnscript %} {% endblock %}

  <!-- Parallax orz -->
  <link href="{% static 'style/style.css' %}" rel="stylesheet" type="text/css" />
  <link href="{% static 'style/nav.css' %}" rel="stylesheet" type="text/css" />
  {% block style %} {% endblock %}

</head>

<body>

  {% block intro %} {% endblock %}

  {% include "nav.html" %}

  {% block content %} {% endblock %}
  {% if showfooter %}
    {% include "footer.html" %}
  {% endif %}
</body>

<script src="{% static 'script/scroll.js' %}"></script>

{% block userscript %} {% endblock %}

</html>