{% load static %}

<footer id="contact-me" class="footer-container d-flex flex-column light-color align-items-center">
  <div id="social">
    <p>
      <a href="https://www.facebook.com/HockyYudhiono"><i id="social-fb" class="fab fa-facebook fa-3x social"></i></a>
      <a href="mailto:hocky.yudhiono@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
      <a href="https://github.com/hockyy"><i id="social-git" class="fab fa-github fa-3x social"></i></a>
      <a href="https://api.whatsapp.com/send?phone=+6281807240802"><i id="social-wa"
          class="fab fa-whatsapp-square fa-3x social"></i></a>
      <a href="https://www.linkedin.com/in/hocky/"><i id="social-li" class="fab fa-linkedin fa-3x social"></i></a>
      <a href="https://www.instagram.com/__hocky/"><i id="social-ig"
          class="fab fa-instagram-square fa-3x social"></i></a>
    </p>
  </div>
  <div id="fb-message">
    <strong>Facebook</strong> is pretty cool to chat!
  </div>
  <div id="em-message">
    <strong>Email</strong> for legit and serious stuffs I guess(?)
  </div>

  <div id="git-message">
    Check my <strong>Github</strong> here!
  </div>

  <div id="wa-message">
    <strong>Whatsapp</strong> can bring us pretty close..
  </div>
  <div id="li-message">
    <strong>LinkedIn</strong> is like portfolio on steroid.
  </div>
  <div id="ig-message">
    Check my daily life on <strong>Instagram</strong>
  </div>
</footer>

<script src="{% static 'script/social.js' %}"></script>