<nav id="main-navbar" class="navbar navbar-expand-lg sticky-top {%if stickynav %}sticky{%endif%}"
  style="background-color: #2D112B">

  <a class=" navbar-brand nav-link" href="{% url 'story_3:home' %}">💜 Hocky's Cluckies</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
      class="navbar-toggler-icon">
      <i class="fas fa-bars" style="color:#fff; font-size:28px;"></i>
    </span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="nav navbar-nav ml-auto navbar-right">
      {% if not ismain %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_3:home' %}"><strong>Home</strong></a>
      </li>
      {% endif %}
      {% if ismain %}
      <li class="nav-item">
        <a class="nav-link" href="#intro"><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact-me">Contact</a>
      </li>
      {% endif %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_5:schedule' %}"><strong>Schedule</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_6:activity' %}"><strong>Activity</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_7:accordion' %}"><strong>Flexes</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_8:books' %}"><strong>Books</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_1:profile' %}"><strong>Biodata</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_3:gallery' %}"><strong>Gallery</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_9:index' %}"><strong>Game</strong></a>
      </li>
      {% if user.is_authenticated %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_9:profile' username=user.username %}"><strong>Profile</strong></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_9:logout' %}"><strong>Log Out</strong></a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'story_9:login' %}"><strong>Log In</strong></a>
      </li>
      {% endif %}
    </ul>


  </div>

</nav>