{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"
    integrity="sha512-F636MAkMAhtTplahL9F6KmTfxTmYcAcjcCkyu0f0voT3N/6vzAuJ4Num55a0gEJ+hRLHhdz3vDvZpf6kqgEa5w=="
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css"
    integrity="sha512-hievggED+/IcfxhYRSr4Auo1jbiOczpqpLZwfTVL/6hFACdbI3WQ8S9NCX50gsM9QVE+zLk/8wb9TlgriFbX+Q=="
    crossorigin="anonymous" />
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
<link rel="stylesheet" href="{% static 'style/formstyle.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center">
    <h1 class="top-title">Add <span class="bold-font">Course</span></h1>

    {% include 'messages.html' %}

    <div class="card d-flex align-items-center justify-content-between dark-text">
        <form action="{% url 'story_5:add_course' %}" method="post">
            {% csrf_token %}

            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.name|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.credit|as_crispy_field }}
                </div>
            </div>
            {{ form.description|as_crispy_field }}
            {{ form.instructors|as_crispy_field }}
            <div class="form-row">
                <div class="form-group col-md-6 mb-0">
                    {{ form.semester_year|as_crispy_field }}
                </div>
                <div class="form-group col-md-6 mb-0">
                    {{ form.semester_parity|as_crispy_field }}
                </div>
            </div>
            {{ form.room|as_crispy_field }}
            <!-- {{ form|crispy }} -->
            <button class="btn btn-success" type="submit">Add course <i class="fas fa-plus"></i></button>
            <a href="{% url 'story_5:schedule' %}" class="btn btn-dark">Back <i class="far fa-hand-point-left"></i></a>
        </form>
    </div>
</section>

{% endblock %}

{% block userscript %}
{% endblock %}