{% extends 'base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block cdnscript %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"
    integrity="sha512-AIOTidJAcHBH2G/oZv9viEGXRqDNmfdPVPYOYKGy3fti0xIplnlgMHUGfuNRzC6FkzIo0iIxgFnr9RikFxK+sw=="
    crossorigin="anonymous"></script>
<link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"
    integrity="sha512-f0tzWhCwVFS3WeYaofoLWkTP62ObhewQ1EZn65oSYDZUg1+CyywGKkWzm8BxaJj5HGKI72PnMH9jYyIFz+GH7g=="
    crossorigin="anonymous" />
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
{% endblock %}

{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center">

    <h1 class="top-title">{{toptitle1}} <span class="bold-font">{{toptitle2}}</span></h1>

    {% include 'messages.html' %}

    <div class="card d-flex align-items-center justify-content-between dark-text">
        <h2 class="dark-text"><b>{{ course.name }}</b> - {{course.credit}} credit{% if course.credit > 1 %}s{% endif %}
        </h2>
        <p class="m-1">
            <b>{{course.semester_year}}/{{course.semester_year|add:'1'}}
                {% if course.semester_parity %} Odd {% else %} Even {% endif %} Semester</b> <br>
            {{course.description}} </p>
        <hr class="dark-hr" />
        <p>
            <b>Instructors</b> <br>
            {% for instructor in course.instructors.all %}
            {{instructor.name}} <br>
            {% empty %}
            No instructors found in this class!
            {% endfor %}
        </p>
        <p>
            <b>Classroom</b> <br>
            {{course.room}}
        </p>
        <div class="card-action">
            <div class="float-right">
                {% if show_delete %}
                <form method="POST"> {% csrf_token %}
                    <button class="btn btn-danger" type="submit">Delete Course <i class="fa fa-trash"></i></button>
                    <a href="{% url 'story_5:schedule' %}" class="btn btn-dark">Hol' Up <i
                            class="far fa-hand-point-left"></i></a>
                </form>
                {% else %}
                <a href="{% url 'story_5:schedule' %}" class="btn btn-dark">Back <i
                        class="far fa-hand-point-left"></i></a>
                {% endif %}
            </div>
        </div>
    </div>

    {% if not show_delete %}
    <div class="card d-flex align-items-center justify-content-between dark-text">
        <h2 class="dark-text"><b>Oh Assignments! <i class='far fa-dizzy'></i></b></h2>
        <hr class="dark-hr" />
        <div class="card-action">
            <div class="float-right">
                <form action="{% url 'story_5:detail_course' id=course.id %}" method="post">
                    {% csrf_token %}
                    {{ form.name|as_crispy_field }}
                    {{ form.deadline|as_crispy_field }}
                    <input type="hidden" name="course" value="{{ course.id }}">
                    <button class="btn btn-success" type="submit">Add assignment <i class="fas fa-plus"></i></button>
                </form>
            </div>
        </div>
    </div>

    {% for assignment in assignments %}

    <div class="card d-flex align-items-center justify-content-between dark-text">
        <h2 class="dark-text"><b>{{ assignment.name }}</b></h2>
        <p class="m-1">
            <b>{{assignment.deadline}}</b> <br>
        </p>
        <hr class="dark-hr" />
        <p>{{assignment.description}} </p>
        <div class="card-action">
            <div class="float-right">
                <form action="{% url 'story_5:delete_assignment' id=assignment.id %}" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="course" value="{{ course.id }}">
                    <button type="submit" class="btn btn-success">This task is done! <i class="fas fa-check"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    {% endif %}
</section>

{% endblock %}

{% block userscript %}
<script type="text/javascript">
    $(function () {
        $(".datetimepicker").datetimepicker({
            format: 'Y-m-d H:i:s',
        });
    });
</script>
{% endblock %}