{% extends 'base.html' %}

{% load static %}

{% block cdnscript %}
{% endblock %}

{% block style %}
<link rel="stylesheet" href="{% static 'style/note-card.css' %}" type="text/css">
{% endblock %}


{% block content %}
<section id="first-section" class="my-container d-flex flex-column dark-color align-items-center text-center">
    <h1 class="top-title">Daily <span class="bold-font">Schedule</span></h1>

    {% include 'messages.html' %}

    <a class="link-card card d-flex align-items-center justify-content-center" href="{% url 'story_5:add_course' %}">
        <h2 class="dark-text">
            Add a course <i class="fas fa-plus"></i>
        </h2>
    </a>

    <div class="my-container p-3 mr-4 mb-5{% if courses %} card-columns{% endif %}">

        {% for course in courses reversed %}
        <li class="card inlinedis d-flex align-items-center">
            <a class="link-unstyled" href="{% url 'story_5:detail_course' id=course.id %}">
                <h2> <b>{{ course.name }}</b> </h2>
            </a>

            <p class="dark-text">{{course.description}}</p>
            <div class="btnwrapper">
                <a href="{% url 'story_5:detail_course' id=course.id %}" class="btn btn-dark">More</a>
                <a href="{% url 'story_5:delete_course' id=course.id %}" class="btn btn-danger"><i
                        class="fa fa-trash"></i></a>
            </div>
        </li>
        {% empty %}
        <h1 class="m-5">
            No available courses! <i class="far fa-sad-tear"></i>
        </h1>
        {% endfor %}
    </div>
</section>

{% endblock %}

{% block userscript %}
{% endblock %}